spring:
  datasource:
    url: jdbc:postgresql://localhost:3308/online-food-order-advance
    username: postgres
    password: root123


  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect