<!DOCTYPE html>
<html lang="en"
        xmlns:th="http://www.thymeleaf.org"
        th:fragment="Layout(content)">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/common.css}" />
	<link rel="stylesheet" th:href="@{/css/restaurant/style.css}" />
    <title th:text="${title}">Base</title>
    <!-- fa fa font -->
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
    <!-- for uli icon -->
    <link
            rel="stylesheet"
            href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />

    <!-- bootstarp -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
    />
</head>
<body>
<!-- layout design -->
<nav>
    <div class="logo-name">
        <div class="logo-image">
            <img
                    alt="image"
                    src="https://png.pngtree.com/png-vector/20220708/ourmid/pngtree-fast-food-logo-png-image_5763171.png"
            />
        </div>
        <span class="logo_name">Food Order</span>
    </div>
    <div class="menu-items">
        <ul class="nav-links">
            <li>
                <a th:href="@{/restaurant/index}">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Dahsboard</span>
                </a>
            </li>
            <li>
                <a href="#" th:href="@{/restaurant/manage-product/0}">
                    <i class="uil uil-briefcase"></i>

                    <span class="link-name">Manage Product</span>
                </a>
            </li>
            <li>
                <a href="#" th:href="@{/restaurant/manage-offer/0}">
                    <i class="uil-dropbox"></i>
                    <span class="link-name">Manage Offers</span>
                </a>
            </li>
            <li>
                <a th:href="@{/restaurant/manage-order/0}">
                    <i class="uil-bus-school"></i>
                    <span class="link-name">Manage Order</span>
                </a>
            </li>
            <li>
                <a href="#" th:href="@{/restaurant/manage-complain/0}">
                    <i class="uil-missed-call"></i>
                    <span class="link-name">Manage Complain</span>
                </a>
            </li>


        </ul>

        <ul class="logout-mode">
            <li>
                <a th:href="@{/logout}" href="#">
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Logout</span>
                </a>
            </li>
            <li class="mode">
                <!--                <a href="#">-->
                <!--                    <i class="uil uil-moon"></i>-->
                <!--                    <span class="link-name">Dark Mode</span>-->
                <!--                </a>-->
                <!--                <div class="mode-toggle">-->
                <!--                    <span class="switch"></span>-->
                <!--                </div>-->
            </li>
        </ul>
    </div>
</nav>

<!-- other page section -->
<section class="dashboard">
    <div class="top">
        <i class="fa fa-bars sidebar-toggle"></i>

        <div class="container" th:if="${session.message}">
            <div
                    th:classappend="${'alert-'+session.message.typeOfMessage}"
                    class="alert"
                    role="alert"
            >
                <span th:text="${session.message.content}"> </span>
            </div>
            <th:block
                    th:text="${@sessionHelper.removeAttributeFromSession('message')}"
            ></th:block>
        </div>
    </div>
    <div th:replace="${content}" class="all-page-content">



    </div>
</section>

<!-- bootstarp -->
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"
></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
        integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/restaurant/script.js}"></script>
</body>
</html>
