<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{restaurant/_layout::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section>

    <main class="p-5" >
        <div class="container">
            <button class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2 " id="add-offer-button"><i
                    class="fa fa-plus"></i></button>

            <div class="m-3 " id="show-offers">

                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class=" btn btn-secondary m-2" aria-current="page" type="button">Copy</a>
                                </li>
                                <li class="nav-item">
                                    <a class=" btn btn-info m-2" type="button" href="#">CSV</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="btn btn-success m-2" type="button">
                                        Excel
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="btn btn-danger m-2" type="button">PDF</a>
                                </li>

                                <li class="nav-item">
                                    <a class=" btn btn-primary m-2" type="button">PRINT</a>
                                </li>
                            </ul>
                            <div class="d-flex" role="search">




                            </div>
                        </div>


                    </div>
                </nav>


                <div class="search-all m-2">
                    <div class="search">
                        <svg class="search__icon" width="22" height="22" viewBox="0 0 22 22" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path
                                    d="M10.5418 19.25C15.3513 19.25 19.2502 15.3512 19.2502 10.5417C19.2502 5.73223 15.3513 1.83337 10.5418 1.83337C5.73235 1.83337 1.8335 5.73223 1.8335 10.5417C1.8335 15.3512 5.73235 19.25 10.5418 19.25Z"
                                    stroke="#596780" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M20.1668 20.1667L18.3335 18.3334" stroke="#596780" stroke-width="1.5"
                                  stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <input type="text" class="search__input" placeholder="Search something here" id=""
                                />
                    </div>

                </div>


                <div class="row">
                    <div class="">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title text-uppercase mb-0">
                                    Offer
                                </h5>
                            </div>
                            <div class="table-responsive">
                                <table class="table no-wrap user-table mb-0">
                                    <thead>
                                    <tr>
                                        <th scope="col" class="border-0 text-uppercase font-medium pl-4 font-size-table" >
                                            ID
                                        </th>
                                        <th scope="col" class="border-0 text-uppercase font-size-table" >
                                            Category Name
                                        </th>
                                        <th scope="col" class="border-0 text-uppercase font-medium font-size-table">
                                            Sub Category Name
                                        </th>
                                        <th scope="col" class="border-0 text-uppercase font-medium font-size-table">
                                            Offer Name
                                        </th>

                                        <th scope="col" class="border-0 text-uppercase font-medium font-size-table">
                                            Offer Description
                                        </th>

                                        <th scope="col" class="border-0 text-uppercase font-medium font-size-table">
                                            Start Date
                                        </th>

                                        <th scope="col" class="border-0 text-uppercase font-medium font-size-table">
                                           End Date
                                        </th>

                                        <th scope="col" class="border-0 text-uppercase font-medium font-size-table">
                                            Discount
                                        </th>
                                        <th scope="col" class="border-0 text-uppercase font-medium font-size-table">
                                            Action
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="offer:${offers}" th:if="${offers != null}">
                                        <td class="pl-4">
                                            <div class="text-muted" th:text="${offer.offerId}">

                                            </div>
                                        </td>

                                        <td>
                                            <div class="text-muted" th:text="${offer.subCategory.category.categoryName}">

                                            </div>
                                        </td>

                                        <td>
                                            <div class="text-muted" th:text="${offer.subCategory.subCategoryName}">
                                                45-89-96
                                            </div>
                                        </td>




                                        <td>
                                            <h5 class="font-medium mb-0" th:text="${offer.offerName}">
                                                Daniel Kristeen
                                            </h5>

                                        </td>
                                        <td>
                                            <div class="text-muted" th:text="${offer.offerDescription}">
                                                45-89-96
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-muted" th:text="${offer.startDate}">
                                                45-89-96
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-muted" th:text="${offer.endDate}">
                                                45-89-96
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-muted" th:text="${offer.offerDiscount}">
                                                45-89-96
                                            </div>
                                        </td>

                                        <td>
                                            <button type="button"
                                                    class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2 delete-offer"
                                                    th:data-offer_id="${offer.offerId}"
                                            >
                                                <i class="fa fa-trash"></i>
                                            </button>
                                            <button type="button"
                                                    class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2 update-offer-button"
                                                    th:data-offer_id="${offer.offerId}">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </td>
                                    </tr>


                                    </tbody>
                                </table>


                            </div>


                            <!-- pagination -->

                            <div class="m-2">
                                <div aria-label="Page navigation" th:if="${totalPages>0}">
                                    <ul class="pagination justify-content-center">
                                        <li th:if="${currentPage != 0 }" class="page-item">
                                            <a class="page-link"
                                               th:href="@{'/restaurant/manage-offer/' + ${currentPage - 1}}">Previous</a>
                                        </li>
                                        <li th:each="i : ${#numbers.sequence(1, totalPages)}" class="page-item"
                                            th:classappend="${currentPage == i-1 ? 'active' : ''}">
                                            <a class="page-link" th:href="@{'/restaurant/manage-offer/' + ${i-1}}">
                                                <span th:text="${i}"></span>
                                            </a>
                                        </li>
                                        <li th:if="${currentPage + 1 != totalPages}" class="page-item">
                                            <a class="page-link" th:href="@{'/restaurant/manage-offer/' + ${currentPage + 1}}">Next</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>



                        </div>

                    </div>
                </div>
            </div>




            <!--			add form start-->

            <div id="add-offer-form" style="display:none">
                <div class="col-md-5 offset-md-4">
                    <div class="card mt-3">
                        <div class="card-header text-center ">
                            <br />
                            Add Offer
                        </div>

                        <div class="card-body">
                            <form id="offer-reg-form">

                                <div class="form-group">
                                    <label class="form-label" for="select-category">Category Name</label>
                                    <select aria-label="Default select example" class="form-select" name="categoryId" id="select-category">
                                        <option selected>Select Category</option>
                                        <option th:each="category:${categories}" th:text="${category.categoryName}" th:value="${category.categoryId}"></option>
                                    </select>
                                </div>


                                <div class="form-group">
                                    <label class="form-label" for="select-subCategory">SubCategory Name</label>
                                    <select aria-label="Default select example" class="form-select" name="subCategoryId" id="select-subCategory" >
                                        <option selected>Select SubCategory</option>
                                        <option ></option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="offerName">Offer Name</label>
                                    <input name="offerName" type="text" class="form-control" id="offerName"
                                           aria-describedby="emailHelp" placeholder="Enter Offer Name" required />
                                </div>

                                <div class="form-group">
                                    <label for="offerDiscount">Offer Discount(%)</label>
                                    <input type="number" name="offerDiscount" class="form-control" id="offerDiscount"
                                           placeholder="Enter Discount"></input>
                                </div>
                                <div class="row g-3 mt-1">
                                    <div class="col">
                                        <label for="startDate">Start Date</label>
                                        <input type="date" class="form-control" placeholder="Enter Start Date" aria-label="First name" name="startDate" id="startDate">
                                    </div>
                                    <div class="col">
                                        <label for="offerDiscount">End Date</label>
                                        <input type="date" class="form-control" placeholder="Enter Last Date" aria-label="Last name" name="lastDate" id="lastDate">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="offerDescription">Offer Description</label>
                                    <textarea name="offerDescription" class="form-control" id="offerDescription"
                                              rows="10" placeholder="Enter Something About Offer"></textarea>
                                </div>



                                <div class="container text-center mt-3">
                                    <button type="submit" class="btn btn-primary" id="submit-btn">
                                        Submit
                                    </button>
                                    <button type="reset" class="btn btn-warning" id="reset-btn">
                                        Reset
                                    </button>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>
            </div>


            <!--			add form close-->

            <!--			upadte form-->



            <div id="update-offer-form" style="display:none">
                <div class="col-md-5 offset-md-4">
                    <div class="card mt-3">
                        <div class="card-header text-center ">
                            <br />
                            Update Offer
                        </div>

                        <div class="card-body">
                            <form id="offer-update-form">
                                <input type="hidden" name="offerId" id="offerId-up">
                                <div class="form-group">
                                    <label for="offerName">Offer Name</label>
                                    <input name="offerName" type="text" class="form-control" id="offerName-up"
                                           aria-describedby="emailHelp" placeholder="Enter Offer Name" required />
                                </div>

                                <div class="form-group">
                                    <label for="offerDiscount">Offer Discount(%)</label>
                                    <input type="number" name="offerDiscount" class="form-control" id="offerDiscount-up"
                                           placeholder="Enter Discount"></input>
                                </div>
                                <div class="row g-3 mt-1">
                                    <div class="col">
                                        <label for="startDate">Start Date</label>
                                        <input type="date" class="form-control" placeholder="Enter Start Date" aria-label="First name" name="startDate" id="startDate-up">
                                    </div>
                                    <div class="col">
                                        <label for="offerDiscount">End Date</label>
                                        <input type="date" class="form-control" placeholder="Enter Last Date" aria-label="Last name" name="lastDate" id="lastDate-up">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="offerDescription">Offer Description</label>
                                    <textarea name="offerDescription" class="form-control" id="offerDescription-up"
                                              rows="10" placeholder="Enter Something About Offer"></textarea>
                                </div>



                                <div class="container text-center mt-3">
                                    <button type="submit" class="btn btn-primary" id="submit-btn-up">
                                        Submit
                                    </button>
                                    <button type="reset" class="btn btn-warning" id="reset-btn-up">
                                        Reset
                                    </button>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>
            </div>





        </div>
    </main>
</section>
</body>
</html>