<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{_layout::Layout(~{::section})}" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <div class="container">
    <div class='row mb-2 mt-5'>
        <div class='col-md-4 mb-2' th:each="product:${products}" th:if="${products != null}">
            <div class="card" style="width: 18rem;">
                <img th:src="@{'/image/product-img/'+${product.imageName}}" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title" th:text="${product.productName}">Card title</h5>
<!--                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--                    <a href="#" class="btn btn-primary">Go somewhere</a>-->
                </div>
            </div>
        </div>

    </div>
    </div>
</section>
</body>
</html>