<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{_layout::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section style="background:#9E9E9E;">
    <main class="p-5" style="padding-bottom:80px;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card" id="card-border">
                        <div class="card-header text-center text-white" id="primary-bg">

                            <span class="fa fa-cutlery fa-3x"></span>
                            <br>
                            <h3>Register Restaurant Here!</h3>
                        </div>
                        <div class="card-body" style="background:#EEEEEE;">
                            <form id="res-reg-form" th:object="${restaurant}">
                                <div class="form-group">
                                    <label for="customerName">Restaurant Name</label>
                                    <input name="restaurantName" type="text" class="form-control" id="restaurantName"
                                           aria-describedby="emailHelp" placeholder="Enter Restaurant Name" >
                                </div>

                                <div class="form-group">
                                    <label for="customerName">Contact Person Name</label>
                                    <input name="customerName" type="text" class="form-control" id="customerName"
                                           aria-describedby="emailHelp" placeholder="Enter Contact Person Name" >
                                </div>


                                <div class="form-group">
                                    <label for="customerEmailId">Restaurant Email</label>
                                    <input name="customerEmail" type="email" class="form-control" id="customerEmailId"
                                           aria-describedby="emailHelp" placeholder="Enter email" >
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                                        anyone else.</small>
                                </div>

                                <div class="form-group">
                                    <label for="customerName">Restaurant Phone Number</label>
                                    <input name="restaurantPhoneNumber" type="text" class="form-control" id="restaurantPhoneNumber"
                                           aria-describedby="emailHelp" placeholder="Enter Restaurant Phone Number" >
                                </div>


                                <div class="form-group">
                                    <label for="customerPassword">Password</label>
                                    <input name="customerPassword" type="password" class="form-control"
                                           id="customerPassword" aria-describedby="emailHelp"
                                           placeholder="Enter Password" >
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label" for="password2">Retype Password</label>
                                    <input type="password" id="password2" class="form-control" placeholder="Retype Password"/>
                                    <small id="retype" class="form-text" style="font-weight: bold;" ></small>
                                </div>

                                <div class="form-group">
                                    <label class="form-label" for="password2">City</label>
                                    <select aria-label="Default select example" class="form-select" name="cityId" id="citySelect">
                                        <option selected>Select City</option>
                                        <option th:each="city:${cities}" th:text="${city.cityName}"
                                                th:value="${city.cityId}"></option>
                                    </select>
                                </div>


                                <div class="form-group mt-2">
                                    <label class="form-label" for="password2">Area</label>
                                    <select aria-label="Default select example" class="form-select" id="areaSelect" name="areaId">
                                        <option selected>Select Area</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="customerName">Restaurant Address</label>
                                    <input name="restaurantAddress" type="text" class="form-control" id="restaurantAddress"
                                           aria-describedby="emailHelp" placeholder="Enter Restaurant Address" >
                                </div>

                                <br>
                                <div class="container text-center mt-3">
                                    <button type="submit" class="btn btn-primary" id="submit-bt">SignUp</button>
                                    <button type="reset" class="btn btn-warning" id="submit-btn">Reset</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</section>
</body>
</html>