<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{_layout::Layout(~{::section})}" >
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<section style="background:#9E9E9E;">
	<main class="p-5">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6">
					<div class="card" id="card-border">
						<div class="card-header text-center text-white" id="primary-bg">
							<span class="fa fa-3x fa-user-circle"></span>
							<br>
							<h3>Login</h3>
						</div>
						
						<div class="container" th:if="${session.message}">
							<div th:classappend="${'alert-'+session.message.typeOfMessage}"
								 class="alert" role="alert">
								<span th:text="${session.message.content}"> </span>
							</div>
							<th:block th:text="${@sessionHelper.removeAttributeFromSession('message')}"></th:block>
						</div>
						<div th:if="${param.error}" class="alert alert-danger">
							Invalid UserName or Password
						</div>
						<div th:if="${param.logout}" class="alert alert-success">
							You have been logged out!!
						</div>
						
						<div th:if="${param.change}" class="alert alert-success">
							<p th:text="${param.change}"></p>
						</div>
						<div class="card-body" style="background:#EEEEEE;">
							<form id="reg-form" th:action="@{/doLogin}" method="post">
								<div class="form-group">
									<label for="customerEmailId">Email Id</label>
									<input id="customerEmailId" type="text" placeholder="Enter Email" name="username"
										   class="form-control">
								</div>
								<div class="form-group">
									<label for="customerPassword">Password</label>
									<input id="customerPassword" type="password" placeholder="Enter Password" name="password" class="form-control">
								</div>


								<div class="container text-center">
									<input type="submit" value="Login" class="btn btn-success btn-lg">
								</div>
								<div style="float:right" class="mt-2">
									<div class="signup-link">Not a member? <a th:href="@{/customer-signup}"
																			  style="color:black">Signup now</a></div>
								</div>
							</form>

						
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

</section>
</body>
</html>