<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{customer/_layout::Layout(~{::section})}" >
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<section>
	<div class="mt-2">
		<div class="container">


			<div class="vegitairan-product" th:if="${products != null and not #lists.isEmpty(products)}">

				<h1 class="title-shop m-3" id="title">VEGITARIAN</h1>
				<main class="main bd-grid">

					<article class="card1" th:each="product:${products}" style="width:255px;height:400px;">
						<div class="card1__img">
							<img th:src="${product.imageName}" class="img1" alt="" style="height:225px;">
						</div>
						<div class="card1__name">
							<p th:text="${product.subCategory.category.categoryName}">AIR ZOOM PEGASUS</p>
						</div>

						<div class="card1__precis ">
							<a  class="card1__icon ml-3" th:href="@{'/'+${product.productId}+'/product-detail'}">
								<i class="fa fa-eye"></i>
							</a>

							<div>
								<span class="card1__preci card1__preci--before" th:text="${product.productName}">$990.00</span>
								<span class="card1__preci card1__preci--before" th:text="${product.restaurant.restaurantName}">$990.00</span>
								<span class="card1__preci card1__preci--now" th:text="'$'+${product.productPrice}">$749.00</span>
							</div>
							<a class="card1__icon mr-3 add-cart" style=" cursor: pointer;"  th:data-product_id="${product.productId}">
								<ion-icon name="cart-outline"></ion-icon>
							</a>

						</div>

					</article>


				</main>
				<footer class="m-3">
					<div class="gap-2">
						<a class="btn btn-outline-dark" th:href="@{/all-product}">Read More</a>
					</div>
				</footer>


			</div>
		</div>
	</div>
	
</section>
</body>
</html>