.primary-bg{
background:#424242;

}
.error{
color:red;
}

.rest-page-link{
    text-decoration: none;
    color: black;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
/* cart page*/

@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

.bg-grey {
    background-color: #eae8e8;
}



/* card*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap");

body {
    font-family: "Montserrat", sans-serif;
}

.product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 50px 0;
}

.art-board {
    border-radius: 40px;
    /* border: 6px solid black; */
    box-shadow: -30px 70px 150px -20px rgba(51, 51, 51, 0.25);
}

.art-board__product-container {
    margin: 18px 0 18px 0;
    width: 375px;
    /* height: 812px; */
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card-product {
    width: 295px;
    overflow: hidden;
    border-radius: 25px;
    border: 1px solid lavender;
    margin: 10px;
    box-shadow: 5px 5px 15px 5px rgba(230, 230, 250, 1);
}

.card-product__image {
    position: relative;
    height: 140px;
}
.card-product__image > img {
    max-width: 100%;
    border-bottom-right-radius: 30px;
    transform: rotate(10deg) translate(-15px, -55px);
    position: absolute;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.card-product__info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0px 30px 20px 30px;
}
.card-product__info h3 {
    font-size: 18px;
    font-weight: 700;
}
.card-product__info p {
    font-size: 14px;
    font-weight: 600;
}
.card-product__info--price {
    text-align: right;
    color: orangered;
}
.rect2 {
    position: relative;
    bottom: 315px;
    right: 15px;
    width: 325px;
    height: 230px;
    border: 1px solid lavender;
    border-radius: 0 0px 80px 0;
    /*background-image: url();*/
    transform: rotate(10deg);
    object-fit: cover;
}
.checked {
    color: #ffd700;
}